In [3]:
import pandas as pd

df = pd.read_csv('../data/ecommerce.csv')  # Adjust path if needed

In [4]:
print(df.shape)      # rows and columns
df.head()            # first 5 rows
df.columns.tolist()  # column names

(5000, 13)

['customer_id',
 'age',
 'gender',
 'country',
 'avg_order_value',
 'total_orders',
 'last_purchase',
 'is_fraudulent',
 'preferred_category',
 'email_open_rate',
 'customer_since',
 'loyalty_score',
 'churn_risk']

In [5]:
df.dtypes

customer_id            object
age                     int64
gender                 object
country                object
avg_order_value       float64
total_orders            int64
last_purchase           int64
is_fraudulent           int64
preferred_category     object
email_open_rate       float64
customer_since         object
loyalty_score           int64
churn_risk            float64
dtype: object

Counting the missing values per columns. Avg_order_value is missing 250 and email_open_rate as well
and you can notice below where is df.info() these columns are having 4750 of 5000

In [7]:
df.isnull().sum()

customer_id             0
age                     0
gender                  0
country                 0
avg_order_value       250
total_orders            0
last_purchase           0
is_fraudulent           0
preferred_category      0
email_open_rate       250
customer_since          0
loyalty_score           0
churn_risk              0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         5000 non-null   object
 1   age                 5000 non-null   int64
 2   gender              5000 non-null   object
 3   country             5000 non-null   object
 4   avg_order_value     4750 non-null   float64
 5   total_orders        5000 non-null   int64
 6   last_purchase       5000 non-null   int64
 7   is_fraudulent       5000 non-null   int64
 8   preferred_category  5000 non-null   object
 9   email_open_rate     4750 non-null   float64
 10  customer_since      5000 non-null   object
 11  loyalty_score       5000 non-null   int64
 12  churn_risk          5000 non-null   float64
dtypes: float64(3), int64(5), object(5)
memory usage: 507.9+ KB

Summary Statistics

In [9]:
df.describe()

,age,avg_order_value,total_orders,last_purchase,is_fraudulent,email_open_rate,loyalty_score,churn_risk
count,5000.000000,4750.000000,5000.000000,5000.000000,5000.000000,4750.000000,5000.000000,5000.000000
mean,48.163200,108.442857,10.027000,180.073200,0.025800,50.714842,50.039400,0.284484
std,17.880797,69.265559,3.163838,104.926518,0.158554,29.098706,28.832151,0.159690
min,18.000000,10.660000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,33.000000,57.805000,8.000000,89.000000,0.000000,25.225000,25.000000,0.160000
50%,48.000000,93.190000,10.000000,178.000000,0.000000,50.950000,50.000000,0.260000
75%,64.000000,142.197500,12.000000,270.000000,0.000000,76.800000,75.000000,0.390000
max,79.000000,555.460000,23.000000,364.000000,1.000000,100.000000,99.000000,0.900000

In [10]:
df.head(10)

,customer_id,age,gender,country,avg_order_value,total_orders,last_purchase,is_fraudulent,preferred_category,email_open_rate,customer_since,loyalty_score,churn_risk
0,CUST_8270,30,Female,Brazil,101.08,8,176,1,Beauty,25.6,2024-06-05,50,0.20
1,CUST_1860,53,Female,USA,90.39,10,88,0,Electronics,12.3,2024-02-19,37,0.34
2,CUST_6390,73,Male,Australia,83.28,6,203,0,Sports,NaN,2024-04-16,65,0.05
3,CUST_6191,30,Other,Japan,109.90,9,346,1,Electronics,42.9,2020-07-08,93,0.19
4,CUST_6734,29,Female,Canada,269.38,16,342,0,Fashion,5.3,2025-04-09,79,0.15
5,CUST_7265,54,Male,Canada,114.31,11,210,0,Beauty,56.5,2021-10-02,44,0.21
6,CUST_1466,27,Female,Canada,34.03,7,212,0,Electronics,0.2,2021-12-19,60,0.39
7,CUST_5426,77,Female,Brazil,171.25,9,20,0,Electronics,15.1,2021-02-09,29,0.24
8,CUST_6578,73,Female,Australia,116.79,10,87,0,Sports,14.7,2020-09-02,85,0.37
9,CUST_9322,26,Male,France,55.93,4,12,0,Fashion,68.8,2024-02-25,63,0.52

In [15]:
df.duplicated().sum()

np.int64(0)

In [16]:
num_duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {num_duplicates}")

Number of duplicate rows: 0

In [19]:
df['customer_id'].value_counts()

customer_id
CUST_5780    6
CUST_4072    5
CUST_4719    5
CUST_8206    4
CUST_5033    4
            ..
CUST_6472    1
CUST_1707    1
CUST_2804    1
CUST_4713    1
CUST_8465    1
Name: count, Length: 3809, dtype: int64

In [20]:
df['gender'].value_counts()

gender
Male      2278
Female    2242
Other      480
Name: count, dtype: int64

In [21]:
df['country'].value_counts()

country
Australia    518
USA          517
India        511
Germany      509
Brazil       504
France       500
China        497
Canada       490
UK           485
Japan        469
Name: count, dtype: int64

In [22]:
df['preferred_category'].value_counts()

preferred_category
Beauty         1035
Electronics    1021
Home           1004
Fashion         975
Sports          965
Name: count, dtype: int64

In [23]:
df['is_fraudulent'].value_counts()

is_fraudulent
0    4871
1     129
Name: count, dtype: int64